process {
  withName: HISAT2_CUFFDIFF {
    cpus   = { params.threads_hisat2 ?: 8 }
    memory = '32 GB'
    time   = '12h'
  }

  withName: EXPRESS_QUANT {
    cpus   = 4
    memory = '16 GB'
    time   = '6h'
  }

  withName: RSEM_QUANT {
    cpus   = { params.threads_rsem ?: 8 }
    memory = '32 GB'
    time   = '12h'
  }

  withName: CUFFDIFF_RUN {
    cpus   = 8
    memory = '32 GB'
    time   = '24h'
  }

  withName: RUN_LIMMA {
    cpus   = 2
    memory = '8 GB'
    time   = '2h'
  }

  withName: RUN_DESEQ2 {
    cpus   = 2
    memory = '8 GB'
    time   = '2h'
  }

  withName: BUILD_GENE_COUNT_MATRIX {
    cpus   = 2
    memory = '8 GB'
    time   = '2h'
  }

  withName: BUILD_QUANT_MATRIX {
    cpus   = 2
    memory = '8 GB'
    time   = '2h'
  }

  withName: BUILD_MAJIQ_CONFIG {
    cpus   = 1
    memory = '2 GB'
    time   = '1h'
  }

  withName: MAJIQ_BUILD {
    cpus   = { params.threads_majiq ?: 8 }
    memory = '32 GB'
    time   = '24h'
  }

  withName: MAJIQ_DELTAPSI {
    cpus   = { params.threads_majiq ?: 8 }
    memory = '16 GB'
    time   = '12h'
  }
}